.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @media (min-width: 768px) and (max-width: 1200px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle.collapsed {
    display: block;
  }
  .navbar-toggle {
    position: relative;
    padding: 9px 10px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
  }
  .navbar-header {
    float: right;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
    height: 740px !important;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .navbar-collapse.collapse {
    display: block !important;
  }
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-group button {
  /* background-image: linear-gradient(to right, #01373c, #005c63, #01373b); */
  background-color: none;
  border: none;
}

.form-control:enabled {
  text-align: start;
}

.carousel .item {
  margin-top: 80px;
}

/* .item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 600px;
} */
/* @media only screen and (max-width: 768px) {
  #tsparticles {
    height: 108px;
  }
} */
#tsparticles {
  height: 400px;
}
.wrapper {
  position: relative;
}
.text {
  color: white;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  font-size: 34px;
  letter-spacing: 2px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  line-height: 42px;
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  #tsparticles {
    height: 230px;
  }
  .text {
    top: 30%;
  }

  .text h1 {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }
  #tsparticles {
    height: 110px;
  }
  .text {
    top: 15%;
  }
  .text h1 {
    font-size: 15px;
  }
}

@media (min-width: 820px) and (max-width: 820px) {
  #tsparticles {
    height: 250px;
  }
  .text {
    top: 30%;
  }

  .text h1 {
    font-size: 25px;
  }
}
@media (min-width: 912px) and (max-width: 912px) {
  #tsparticles {
    height: 275px;
  }
  .text {
    top: 32%;
  }

  .text h1 {
    font-size: 25px;
  }
}
@media (min-width: 1024px) and (max-width: 1024px) {
  #tsparticles {
    height: 310px;
  }
}
@media (min-width: 1280px) and (max-width: 1280px) {
  #tsparticles {
    height: 390px;
  }
}
@media (min-width: 540px) and (max-width: 540px) {
  #tsparticles {
    height: 160px;
  }
  .text {
    top: 25%;
  }

  .text h1 {
    font-size: 20px;
  }
}
@media (min-width: 280px) and (max-width: 280px) {
  #tsparticles {
    height: 78px;
  }
  .text {
    top: 10%;
  }

  .text h1 {
    font-size: 10px;
  }
}
@media (min-width: 412px) and (max-width: 412px) {
  #tsparticles {
    height: 120px;
  }
  .text {
    top: 15%;
  }

  .text h1 {
    font-size: 15px;
  }
}
