.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @media (min-width: 768px) and (max-width: 1200px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle.collapsed {
    display: block;
  }
  .navbar-toggle {
    position: relative;
    padding: 9px 10px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
  }
  .navbar-header {
    float: right;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
    height: 740px !important;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .navbar-collapse.collapse {
    display: block !important;
  }
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-group button {
  /* background-image: linear-gradient(to right, #01373c, #005c63, #01373b); */
  background-color: none;
  border: none;
}

.form-control:enabled {
  text-align: start;
}
